<h1>Admin::Salons#new</h1>
<%= form_for [:admin,@salon] do |form| %>
    <%=render"shared/errors",obj:@salon%>
    <%= render "shared/salon_form",form: form %>
    <div><%= form.submit %></div>
<% end %>
