<% @page_title = "のスタイリスト一覧"%>
<h1><%= @salon.name + @page_title %></h1>
    <%= link_to "スタイリストの新規登録",[:new,:owner,:stylist] %>
    <table class ="attr">
        <tr>
            <th>名前</th>
        </tr>
        <% @stylists&.each do |stylist|%>
            <tr>
                <td><%= link_to stylist.name, [:owner,stylist] %></td>
            </tr>
        <% end %>
    </table>
