<h1>スタイリスト詳細</h1>
    <table class ="attr">
    <%= link_to "シフト追加",[:new,:owner,@stylist,:shift] %><br>
    <%= link_to "シフト削除",[:destroy_index,:owner,@stylist,:shifts] %>
        <tr>
            <th>名前</th>
            <td><%= @stylist.name %></td>
        </tr>
        <tr>
            <th>所属店舗</th>
            <td><%= @stylist.salon.name %></td>
        </tr>
    </table>
