<% @page_title = "管理者ログインフォーム"%>
<h1><%= @page_title %></h1>
<% if not current_admin %>

    <p>ログイン<p>
    <%= form_tag [:admin,:session], id: "login_form" do %>
    <div>
        <label>ユーザー名：</label>
        <input type = "text" name="name">
    </div>
    <div>
        <label>パスワード：</label>
        <input type="password" name="password">
    </div>
    <div>
        <input type="submit" value="ログイン">
    </div>
    <% end %>

<% else %>
    <p>ログイン済み</p>
    <%= link_to "店舗検索",[:admin,:salons] %>
<% end %>