<!--メニューバー-->
<nav class="menubar">
    <ul>
        <%=menu_link_to"TOP",:root%>
        <%=menu_link_to" ニュース","#"%>
        <%=menu_link_to" ブログ","#" %>
        <!--未実装　ログインした場合のみ表示される-->
        <% if true %>
            <%= menu_link_to" マイページ", "#" %>
        <% end %>
    </ul>
</nav>