<table class ="attr">
    <tr>
        <th>店名</th>
        <td><%= salon.name %></td>
    </tr>
    <tr>
        <th>所在地</th>
        <td><%= salon.prefecture %></td>
    </tr>
    <tr>
        <th>住所</th>
        <td><%= salon.adress %></td>
    </tr>
    <tr>
        <th>総いいね数</th>
        <% count = salon.votes.count %>
       <td> <span class ="vote">総いいね数<%= count %></span></td>
    </tr>
</table>