<% if not current_customer %>

<p>ログイン<p>
    <%= form_tag :session, id: "login_form" do %>
    <div>
        <label>ユーザー名：</label>
        <input type = "text" name="name">
    </div>
    <div>
        <label>パスワード：</label>
        <input type="password" name="password">
    </div>
    <div>
        <input type="submit" value="ログイン">
    </div>
    <div>
        <%= link_to "会員登録はこちら", :new_customer %>
    </div>
<% end %>

<% else %>
    <p>ログイン済み</p>
<% end %>