<h1>Reservations#new</h1>
<%= form_for @reservation do |form| %>
    <%= form.label :reserved_date,"予約日時" %>
    <%= form.date_select :reserved_date %>
    <% @shifts.each do |shift|%>
        
    <% end %>

    <%= form.submit%>
<% end %>
<table>
    <!--縦に進める。30分ごと進める-->
    <% for minute in 0..47 %>
        <% @dateCol = Date %>
        <tr>
            <!--横に進める。1日進める-->
            <% @dateRow = @dateCol %>
            <% for day in 0..6%>
                <!--Shiftを検索-->
                <% for count in 1%>
                    <% if %>
                        <%  %>
                    <% else %>
                    <p>x</p>
                <% end %>
            <% end %>
        </tr>
    <% end %>
</table>